.contact-methods {
  display: flex;
  gap: 1.5rem;
}

.contact-method-container {
  display: flex;
  flex-direction: column;
  text-align: left;
  gap: 0.5rem;
}

@media (max-width: 1024px) {
  .contact-methods {
    flex-direction: column;
    align-items: flex-start;
  }
}
