.social-media-container {
  display: flex;
  justify-content: left;
  gap: 8px;
}

.social-link {
  height: 40px;
  width: 40px;
  border-radius: 50%;
  color: var(--black);
  display: flex;
  align-items: center;
  justify-content: center;
}

.social-link img {
  z-index: 1;
}

.social-link::after {
  content: '';
  position: absolute;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background-color: var(--black);
  transition: box-shadow 0.3s ease;

  transition: background-color 0.3s ease;
}

.social-link:hover::after {
  background-color: transparent;
}

.social-link.instagram {
  background: linear-gradient(162.65deg, #800bfd 9.64%, #fc01d7 32.6%, #ff0069 44.39%, #ff2f2b 63.96%, #ff8000 87.45%);
}

.social-link.youtube {
  background: #ff0000;
}

.social-link.facebook {
  background: #3b5998;
}

.social-link:focus {
  background: var(--black);
}
