@font-face {
    font-family: 'Mulish';
    src: url('../assets/fonts/Mulish-Regular.ttf') format('truetype'),
        url('../assets/fonts/Mulish-Regular.ttf') format('truetype');
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: 'Mulish';
    src: url('../assets/fonts/Mulish-SemiBold.ttf') format('truetype'),
        url('../assets/fonts/Mulish-SemiBold.ttf') format('truetype');
    font-weight: 600;
    font-style: normal;
}

:root {
    font-family: Mulish;
    line-height: 1.5;
    font-weight: 400;

    font-synthesis: none;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;

    --black: #190D03;
}